@model TicketViewModel


<div class="w-100 card border-bottom-0">
    <div class="card-header ml-0 py-3" style="background-color: #023673">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Reserve Ticket</h2>
            </div>
        </div>
    </div>
</div>
</div>
